html{
    width: 100%;
    font-family: 'Heiti SC', 'Microsoft YaHei';
    font-size: 20px;
    height: 100%;
}
body{
    height: 100%;
    background-color: #f3f3f3;
}
.list-goods {
    position: relative;
    background-color: #fff;
}
.list-goods form{
    height: 92%;
    width: 77%;
    float: left;
    background-color: rgba(225,225,225,.5);
    border-radius: 4px;
    margin:0.02rem 0 0 0.2rem;
}
.list-goods .search {
    width: 100%;
    height: 0.35rem;
    position: relative;
    background-color: #fff;
    padding:0.1rem 0;
}

.list-goods .search input {
   display: block;
    width: 100%;
    height: 100%;
    /*margin: 0.076rem auto;*/
    padding-left: 0.15rem;
    outline-style: none;
    font-size: 0.15rem;
    background-color: rgba(225,225,225,.5);
    border-radius: 10px;
    border-style: none;
}
.list-goods>ul{
    width: 100%;
    overflow: hidden;
    display: none;
}
.list-goods .search .classifyBtn{
     float: left;
    width: 13.6%;
    height:100%;
    cursor: pointer;
    background: url("../img/view-list.png") no-repeat;
    background-size: 55%;
    background-position: 0.2rem 0.04rem;
}
.list-goods .search > div{
    position: absolute;
    width: 6%;
    top: 0.16rem;
    right: 0.22rem;
    cursor: pointer;
    display: block;
    background: url("../img/fdj.png") no-repeat;
    background-size: 100%;
    height: 0.21rem;
}

.list-goods .search-list {
    padding:0 0.1rem;
    background:#f4f4f4;
}
.list-goods .search-list hr{
	margin:0;
	border:none;
	width:0.44rem;
	height:0.02rem;
	background-color:#000000;
	/*transition: all 1s;*/
	transform: translate(0.34rem,-0.1rem);
	-webkit-transform: translate(0.34rem,-0.1rem);
}
.list-goods .search-list-line{
    border-top:2px solid #999;
    width:100%;
    float:left;
}
.list-goods .search-list-ul{
	float:left;
	padding-top:0.05rem;
	padding-bottom:0.05rem;
}
.list-goods .search-list-ul li{
    float:left;
    background:#f3d4d2;
    padding:0 0.075rem;
    line-height:0.22rem;
    margin:0.05rem 0.06rem;
    border-radius:4px;
}
.list-goods .search-list a {
	padding-bottom: 0.1rem;
    display: block;
    float: left;
    width: 33%;
    margin-top: 0.03rem;
    height: 80%;
    text-align: center;
    line-height: 0.26rem;
   
    font-size: 0.14rem;
    color: #000;
    position: relative;
}
.list-goods .search-list a>span{
    position: absolute;
    display: block;
    width: 0.115rem;
    height:  0.115rem;
    left:0.8rem;
}
.list-goods .search-list a>span.s001{
   background: url("../img/jt-up.png") no-repeat;
    background-size: 100%;
    top:0.07rem;
}
.list-goods .search-list a>span.s002{
    background: url("../img/jt-down.png") no-repeat;
    background-size: 100%;
    top:0.14rem;
}
.list-goods .search-list a.last {
    border-right: none;
}

.list-goods .goods > li {
    width: 100%;
    height: 1rem;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 4px solid #f4f4f4;
    margin: 0 auto;
}

.list-goods .goods > li > .l {
    width: 35%;
    height: 100%;
    float: left;
}

.list-goods .goods > li .l img {
    display: block;
    float: left;
    height: 90%;
    margin:0.06rem;
}

.list-goods .goods > li > .r {
    float: right;
    width: 64%;
    height: 98%;
    position: relative;
}

.list-goods .goods > li .r .goods-title {
    width: 99%;
    font-size: 0.142rem;
    margin-top: 0.1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-goods .goods > li > .r > span {
    position: absolute;
}

.list-goods .goods > li > .r > span.span1 {
    font-size: 0.142rem;
    font-weight: bold;
    top: 0.7rem;
    left: 0;
    color: #ff4f4f;
}

.list-goods .goods > li > .r > span.span2 {
    font-size: 0.11rem;
    top: 0.73rem;
    right: 0.19rem;
    color: #999;
}
.last01{
    font-size: 0.13rem;
    width:100%;
    height: 0.3rem;
    text-align: center;
    line-height: 0.3rem;
    color: #b8b8b8;
}
body,html{
    font-size: 0.14rem;
}
.classify{
    display: none;
    width: 100%;
    overflow: hidden;
    background-color: #f3f3f3;
    margin-top: 0.05rem;
}
.classify>div{
    float: left;
}
.classify>div.class-l{
    width: 27.2%;
    /*height: 100%;*/
    overflow: auto;
}
.classify>div.class-r{
    width: 72.8%;
    /*height: 100%;*/
    overflow: auto;
}
.classify>div.class-r>p{
    color: #ccc;
    margin-top: 0.2rem;
    text-align: center;
}
.classify>div.class-l>ul.first-class{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.class-r p{
    cursor: pointer;
}
.classify>div.class-l>ul>li{
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    border-bottom: 2px solid #eee;
    cursor: pointer;
    overflow: hidden;
    font-size: 0.12rem;
    color:#434343;
    background-color: #fff;
    font-weight:bold;
}
.classify>div.class-l>ul>li.active{
    /*border-left: 3px solid #ff4f4f;*/
    background-color: #f3f3f3;
}
.second-class>p{
    display: block;
    height: 0.35rem;
    line-height: 0.35rem;
    width: 90%;
    margin: 0.1rem 0.1rem;
    font-size:0.14rem;
}
.second-class>ul{
    /*width: 96%;*/
    margin: 0 auto;
}
.second-class>ul>li{
    float: left;
    /*width: 30%;*/
    text-align: center;
    margin-left: 0.08rem;
    margin-bottom: 0.05rem;
}
.second-class>ul>li>p{
    display: inline-block;
    background-color: #fff;
    width: 0.74rem;
    height: 0.74rem;
    border-radius:3px;
    line-height: 0.8rem;
    margin: 0 auto;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.second-class>ul>li>p>img{
    width:0.775rem;
}
.second-class>ul>li>span{
    font-size:0.12rem;
    color:#666;
}
.class-r>.second-class{
    overflow: auto;
}
.goTop{
    position: fixed;
    background:url("../img/goTop.png") no-repeat;
    background-size: 100%;
    width: 0.35rem;
    height: 0.35rem;
    bottom:1rem;
    right:0.15rem;
    cursor: pointer;
    z-index: 999;
    display: none;
}
.clearfix:after{ content:''; display:block; clear:both;}
p {margin:0; padding:0}

::-webkit-scrollbar {display: none;}

.line{ width:100%; height:4px; background:#eee;}